.root{
    flexGrow: 1;

}
.menuButton{
    edge:start;
    color:inherit;
    aria-label:menu;

}
.topTool{background-color: #555555;
    }
.bottomTool{background-color: #c4c3c3;
    }

.bottomTool button{
    font-family: "Calibri", Times, serif;
    font-size: 18px;}

.topTool button{
    font-family: "Calibri", Times, serif;
   }

.topTool .newCaseButton {
    float: right;
    left:84%;
    direction: rtl;
    font-size: 18px;
}
.rightButton{
    font-size: 18px;
    font-weight: bold;
    float: right;
    direction: rtl;

}
.leftButton{
    font-weight: bold;
    font-size: 18px;

}
.bottomTool div{
    direction: rtl;
    color:black;
    margin-left: auto;
    margin-right: auto;
    width: 8em;

    }
.selectCase select{
    background:#c4c3c3;
    font-family: "Calibri", Times, serif;
    font-size: 18px;}

#AppBar{
    position: fixed;
}